.header{
    width: 80%;
    margin: auto;
}

.advance_search{
    text-align: center;
    margin: auto;
}

.movie_list{
    width: 80%;
    margin: auto;
}

.browse{
    text-align: center;
    margin: auto;
}

.login{
    text-align: center;
    margin: auto;
    width: 50%;
}

.padding-top-lg{
    margin: auto;
    padding-top: 50px;
}

.sort-order{
    width: 50%;
    float: left;
}

.result-limit{
    width: 50%;
    float: left;
}