.header{
    width: 80%;
    margin: auto;
}

.advance_search{
    text-align: center;
    margin: auto;
}

.movie_list{
    width: 80%;
    margin: auto;
}

.browse{
    text-align: center;
    margin: auto;
}